* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --color-brand-primary: #1d99ff;
    --color-brand-secondary: #ff455b;
    
    --color-feedback-error: #f1526e;
    --color-feedback-info: #3da4f3;
    --color-feedback-success: #00c689;
    --color-feedback-warning: #fdbf35;
  
    --color-text-dark: #708aa1;
    --color-text-light: #aebdc9;
    
    --color-interface-light: #f1f4f6;
    --color-interface-dark: #d5e0ec;
    
    --color-common-light: #ffffff;
    --color-common-dark: #000000;
  
    --spacing-xsmall: 4px;
    --spacing-small: 8px;
    --spacing-default: 16px;
    --spacing-medium: 24px;
    --spacing-large: 32px;
    --spacing-xlarge: 40px;
  
  }
  
  .topo{
    background-color: var(--color-interface-dark);
  }

  body {
    font-family: 'Open Sans', Arial, Helvetica, 'Ubuntu', sans-serif;
    font-size: 16px;
    background-color: var(--color-interface-light)
  }

  .perfil {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

    h1, 
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
  background-color: var(--color-interface-dark);
}

.header-item {
  display: flex;
  justify-content: space-between;
}

.button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.title {
  line-height: 1.5;
  letter-spacing: -1px;
  font-weight: 500;
  color: var(--color-text-light);
}

.subtitle {
  line-height: 1.2;
  font-weight: 700;
  color: var(--color-brand-primary);
}

.container {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

.form-task {
  margin-top: var(--spacing-large);
  display: flex;
}

.form-task-label {
    font-weight: bold;
    color: var(--color-text-dark);
}

.tarefa{
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--spacing-xlarge);
}

.form-task-input {
    width: 84%;
    border-radius: 2px;
}

.form-task-button {
    width: 15%;
    background-color: var(--color-brand-secondary);
    border-radius: 3px;
}

.add{
    color: var(--color-common-light);
    margin-top: var(--spacing-default);
    margin-bottom: var(--spacing-default);
}

.tasksection{
  /* margin-top: var(--spacing-xlarge); */
  background-color: var(--color-interface-light)
}

.task{
  outline: solid 1px red;
  width: 46vw;
  display: inline-block;
  vertical-align: top;
  /*display:flex;
  flex-direction: row;
  gap: 5vw; */
}

 .typetask{
  display: inline;
  margin-left: 5vw;
} 

.botao{
  outline: solid 1px green;
  width: 46vw;
  display: inline-block;
  text-align: right;
  /*display: flex;
  flex-direction: row;
  outline: solid 1px red;
  text-align: right; */
}
